<div class="back-button">
  <%= link_to root_path do %>
    <div class="arrow-wrap">
      <span class="arrow-part-1"></span>
      <span class="arrow-part-2"></span>
      <span class="arrow-part-3"></span>
    </div>
  <% end %>
</div>

<div class="dropDown-wrapper">
  <input type="checkbox" id="dropDown-toggle">
  <label for="dropDown-toggle" class="dropDown-toggle-label">MENU</label>
  <div class="dropDown">
    <%= link_to blogs_path do %>
    <input type="radio" id="option-1" name="options">
    <label for="option-1">blogs</label>
    <% end %>
    <%= link_to gatherings_path do %>
    <input type="radio" id="option-2" name="options">
    <label for="option-2">events</label>
    <% end %>
    <%= link_to partners_path do %>
    <input type="radio" id="option-3" name="options">
    <label for="option-3">spotlight</label>
    <% end %>
  </div>
</div>

<h1 class="center-container">Meet Our Team </h1>
  <div class="flowers-team">
    <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209159/Screenshot_2020-10-20_at_16.52.16_wnv8sa.png">
    <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209159/Screenshot_2020-10-20_at_16.52.19_ztonyr.png">
  </div>

  <div class="fade-in">
    <div class="team-container">
      <% @teams.each do |team| %>
        <div class="team-member">
          <% if team.photos[0] %>
            <div class="team-image">
              <%= cl_image_tag team.photos[0].key %>
            </div>
          <% end %>

          <p class="team-member-name"><%= link_to "#{team.name}", team_path(team) %> |  <span class="role"><%= team.role %></span> </p>
          <div class="social-media-container">
            <% if team.linkedin %>
              <div class="social-media"><a href=<%= team.linkedin %> target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
            <% end %>
            <% if team.instagram %>
              <div class="social-media"><a href=<%= team.instagram %> target="_blank"><i class="fab fa-instagram"></i></a></div>
            <% end %>
          </div>
            <div class="team-description"><p>Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a
            type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including
            versions of Lorem Ipsum</p></div>
          <% if policy(Team).destroy? %>
            <%= link_to "Delete Member", team_path(team), :method => :delete, data: { confirm: 'Are you sure?'} %>
            <%= link_to "Edit Member", edit_team_path(team) %>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="center-container-logout">
    <% if policy(Team).new? %>
      <div class="admin-options">
        <%= link_to "New Member", new_team_path %>
      </div>
    <% end %>
</div>
