<div>
  <%= simple_form_for(@team) do |f| %>
    <%= f.input :name %>
    <%= f.input :role %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Add team member to site" %>
    <% end %>
</div>
