<!-- <div class="blog-title-container">
  <h1 class="blog-index-title"> Blogs </h1>
</div> -->

<div class="back-button">
  <%= link_to root_path do %>
  <div class="arrow-wrap">
    <span class="arrow-part-1"></span>
    <span class="arrow-part-2"></span>
    <span class="arrow-part-3"></span>
  </div>
  <% end %>
</div>

<div class="dropDown-wrapper">
  <input type="checkbox" id="dropDown-toggle">
  <label for="dropDown-toggle" class="dropDown-toggle-label">MENU</label>
  <div class="dropDown">
    <%= link_to gatherings_path do %>
    <input type="radio" id="option-1" name="options">
    <label for="option-1">EVENTS</label>
    <% end %>
    <%= link_to partners_path do %>
    <input type="radio" id="option-2" name="options">
    <label for="option-2">PARTNERS</label>
    <% end %>
    <%= link_to teams_path do %>
    <input type="radio" id="option-3" name="options">
    <label for="option-3">TEAM</label>
    <% end %>
  </div>
</div>
<div class="blog-title-container">
  <h1 class="blog-index-title">Blogs</h1>
</div>

<div class="main-blog-container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1494236581341-7d38b2e7d824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2144&q=80)">
     <%= link_to @blogs[0].title, blog_path(@blogs[0]) %>
  </div>
</div>

<div class="blog-item-container">
  <% @blogs.each do |blog| %>
    <div class="flip-card-container">
      <div class="flip-card">

        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Brohm Lake">
              <figcaption class="blog-card-title"><%= blog.title %>  |  <%= blog.date %></figcaption>
          </figure>
          <ul class="blog-card-content">
            <% if blog.content %>
            <li><%=blog.content %></li>
             <% end %>
          </ul>
        </div>
        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <img src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Brohm Lake">
          </figure>

          <button class="blog-read-button"><%= link_to "Read", blog_path(blog) %></button>

          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if policy(Blog).new? %>
<%= link_to "New Blog", new_blog_path %>
<% end %>
