<div class="blog-title-container">
  <h1> See our blogs by our experts </h1>
</div>
<div class="home-container">
  <p><%= link_to "Home", root_path %></p>
  <% if policy(Blog).new? %>
  <%= link_to "New Blog", new_blog_path %>
  <% end %>
</div>
<div class="action-container">
  <p>Have an interesting story? Email us at...</p>
</div>
<div class="blog-item-container">
  <% @blogs.each do |blog| %>
    <div class="flip-card-container">
      <div class="flip-card">

        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img src="https://images.unsplash.com/photo-1599797574782-fd636bdb5cd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80" alt="Brohm Lake">
              <figcaption class="blog-card-title"><%= blog.title %>  |  <%= blog.date %></figcaption>
          </figure>
          <ul class="blog-card-content">
            <% if blog.content %>
            <li><%=blog.content %></li>
             <% end %>
          </ul>
        </div>
        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <img src="https://images.unsplash.com/photo-1599797574782-fd636bdb5cd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80" alt="Brohm Lake">
          </figure>

          <button class="blog-read-button"><%= link_to "Read", blog_path(blog) %></button>

          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if policy(Blog).new? %>
<%= link_to "New Blog", new_blog_path %>
<% end %>
