<!-- <div class="blog-title-container">
  <h1 class="blog-index-title"> Blogs </h1>
</div> -->
<div class="back-button">
  <%= link_to root_path do %>
  <div class="arrow-wrap">
    <span class="arrow-part-1"></span>
    <span class="arrow-part-2"></span>
    <span class="arrow-part-3"></span>
  </div>
  <% end %>
</div>

<div class="dropDown-wrapper">
  <input type="checkbox" id="dropDown-toggle">
  <label for="dropDown-toggle" class="dropDown-toggle-label">MENU</label>
  <div class="dropDown">
    <%= link_to gatherings_path do %>
    <input type="radio" id="option-1" name="options">
    <label for="option-1">events</label>
    <% end %>
    <%= link_to partners_path do %>
    <input type="radio" id="option-2" name="options">
    <label for="option-2">spotlight</label>
    <% end %>
    <%= link_to teams_path do %>
    <input type="radio" id="option-3" name="options">
    <label for="option-3">team</label>
    <% end %>
  </div>
</div>

  <div class="blog-title-container">
    <h1 class="blog-index-title">Blogs</h1>
  </div>

  <div class="board-img">
    <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209159/Screenshot_2020-10-20_at_16.52.06_yqyvag.png">
  </div>

  <div class="blog-show-container">
    <% if @blogs[0] && @blogs[0].photos[0] %>
      <%= cl_image_tag @blogs[0].photos[0].key %>
      <div class="main-blog-index-title"><%= link_to @blogs[0].title, blog_path(@blogs[0]) %> </div>
    <% end %>
    <div class="flowers">
      <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209159/Screenshot_2020-10-20_at_16.52.16_wnv8sa.png">
      <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209159/Screenshot_2020-10-20_at_16.52.19_ztonyr.png">
    </div>
  </div>

  <% if !@blogs[0] %>
  <div class="blog-show-container">
    <img src="https://images.unsplash.com/flagged/photo-1563258574-f7dbe336d56b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="come back soon">
    <div class="main-blog-index-title"><p>We have no blogs at the moment, please come back soon!</p> </div>

  <div class="flowers">
    <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209159/Screenshot_2020-10-20_at_16.52.16_wnv8sa.png">
    <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209159/Screenshot_2020-10-20_at_16.52.19_ztonyr.png">
  </div>
  </div>
<% end %>


  <div class="blog-item-container">
    <% @blogs.each do |blog| %>
      <div class="flip-card-container">
        <div class="flip-card">

          <div class="card-front">
            <figure>
              <% if blog.photos[2] %>
                <div class="img-bg"></div>
                <%= cl_image_tag blog.photos[2].key %>
                <figcaption class="blog-card-title"><%= blog.title %>  |  <%= blog.date %></figcaption>
              <% end %>
            </figure>
            <ul class="blog-card-content">
              <% if blog.content %>
              <li><%=blog.content %></li>
               <% end %>
            </ul>
          </div>
          <div class="card-back">
            <figure>
              <% if blog.photos[2] %>
                <div class="img-bg"></div>
                <%= cl_image_tag blog.photos[2].key, :transformation=>[ {:angle=>["vflip", 180]}] %>
              <% end %>
            </figure>

            <button class="blog-read-button"><%= link_to "Read", blog_path(blog) %></button>

            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="vase-img">
    <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209168/Screenshot_2020-10-20_at_16.52.03_iiw3qm.png">
  </div>
  <div class="pillar-img">
    <img src="https://res.cloudinary.com/materialmatters/image/upload/v1603209159/Screenshot_2020-10-20_at_16.52.14_ykfitx.png">
  </div>
<div class="admin-options">
  <% if policy(Blog).new? %>
  <%= link_to "New Blog", new_blog_path %>
  <% end %>
</div>
