<div>
  <%= simple_form_for(@blog) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :contentMain %>
    <%= f.input :date %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.file_field :mp3, label: "mp3" %>
    <%= f.submit "Submit Blog Entry" %>
    <% end %>
</div>
