<div class="parent-blog-show-container">
  <div class="blog-show-container">
    <div>
      <div class="blog-photo-one">
        <%= cl_image_tag("samples/ecommerce/leather-bag-gray.jpg") %>
      </div>
      <h1 class="blog-show-title"><%= @blog.title %></h1>
      <p><%= @blog.date %></p>
      <div class="blog-show-content">
        <%= @blog.content %>
      </div>
      <div class="blog-photo-two">
        <%= cl_image_tag("samples/imagecon-group.jpg") %>
      </div>
      <% if @blog.mp3_file_name != nil %>
        <%= audio_tag @blog.mp3, class: "audio-play" %>
        <p class="btn btn-primary audioButton">Play</p>
      <% end %>
      <%= link_to "Back to all blogs", blogs_path %>
    </div>


    <% if policy(Blog).destroy? %>
      <%= link_to "Delete Blog", blog_path(@blog), :method => :delete, data: { confirm: 'Are you sure?'} %>
      <%= link_to "Edit Blog", edit_blog_path(@blog) %>
  <% end %>
  </div>
</div>
























<!--
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
  <div id="jp_container_1" class="jp-audio">
    <div class="jp-type-single">
      <div class="jp-gui jp0interface">
         <ul>
           <li><a href="javascript:;" tabindex="1">&#61515;</a></li>
           <li><a href="javascript:;" tabindex="1">&#61516;</a></li>
           <li><a href="javascript:;" tabindex="1" title="mute">&#61480;</a></li>
           <li><a href="javascript:;" tabindex="1" title="unmute">&#61478;</a></li>
         </ul>
         <div class="jp-progress">
          <div class="jp-seek-bar">
            <div class="jp-play-bar"></div>
          </div>
        </div>

        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
        </div>

        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
      </div>
    </div>
  </div>


  <script>
    var $ = jQuery;
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: "<%= @blog.mp3.url %>",
          });
        },
        swfPath: "/js",
        supplied: "mp3"
      });
    });
  </script> -->
