
<div class="parent-blog-show-container">
  <div class="blog-show-container">
<div id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1494236581341-7d38b2e7d824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2144&q=80)"></div>

<section>
  <h2><%= @blog.title %></h2>
  <div class="row">
    <div id="left">
      <h2> <%= @blog.date %> </h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas neque totam dolorum quia! Non accusamus possimus tempora repellendus repellat nihil dolore, facere qui quasi labore praesentium tempore quisquam ratione voluptas?</p>
    </div>
  <div id="right"><img src="https://images.pexels.com/photos/982612/pexels-photo-982612.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt=""></div>
</div>
<div class="row2">
  <div id="left2">
    <h2> <%= @blog.date %> </h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas neque totam dolorum quia! Non accusamus possimus tempora repellendus repellat nihil dolore, facere qui quasi labore praesentium tempore quisquam ratione voluptas?</p>
  </div>
</div>


</section>

<section id="empty">space to scroll</section>

<footer>
  <p>Images from pexels</p>
   <% if policy(Blog).destroy? %>
      <%= link_to "Delete Blog", blog_path(@blog), :method => :delete, data: { confirm: 'Are you sure?'} %>
      <%= link_to "Edit Blog", edit_blog_path(@blog) %>
  <% end %>
</footer>
  </div>
</div>
