<!-- <div class="back-button">
  <%= link_to root_path do %>
    <div class="arrow-wrap">
      <span class="arrow-part-1"></span>
      <span class="arrow-part-2"></span>
      <span class="arrow-part-3"></span>
    </div>
  <% end %>
</div>

<div class="dropDown-wrapper">
  <input type="checkbox" id="dropDown-toggle">
  <label for="dropDown-toggle" class="dropDown-toggle-label">MENU</label>
  <div class="dropDown">
    <%= link_to blogs_path do %>
    <input type="radio" id="option-1" name="options">
    <label for="option-1">blogs</label>
    <% end %>
    <%= link_to gatherings_path do %>
    <input type="radio" id="option-2" name="options">
    <label for="option-2">events</label>
    <% end %>
    <%= link_to teams_path do %>
    <input type="radio" id="option-3" name="options">
    <label for="option-3">team</label>
    <% end %>
  </div>
</div>

<h1 class="center-container"> Our Partners </h1>
  <div class="fade-in-1">
      <div class="partner-container">
        <% @partners.each do |partner| %>
          <div class="partner-member">
            <% if partner.photos[0] %>
              <div class="team-image">
                <%= cl_image_tag partner.photos[0].key %>
              </div>
            <% end %>
            <p class="team-member-name"> <%= link_to partner.name, partner_path(partner) %> </p>
              <p><%= partner.description %></p>
            </div>
        <% end %>
    </div>
  </div>
  <div class="center-container-logout">
    <% if policy(Partner).new? %>
      <%= link_to "New Partner", new_partner_path %>
      <ol>
        <% @partners.each do |partner| %>
        <li><%= link_to "#{partner.name}", partner_path(partner) %></li>
        <% end %>
      </ol>
    <% end %>
</div> -->

<!--
------------------------- -->


<div class="back-button">
  <%= link_to root_path do %>
  <div class="arrow-wrap">
    <span class="arrow-part-1"></span>
    <span class="arrow-part-2"></span>
    <span class="arrow-part-3"></span>
  </div>
  <% end %>
</div>

<div class="dropDown-wrapper">
  <input type="checkbox" id="dropDown-toggle">
  <label for="dropDown-toggle" class="dropDown-toggle-label">MENU</label>
  <div class="dropDown">
    <%= link_to blogs_path do %>
    <input type="radio" id="option-1" name="options">
    <label for="option-1">blogs</label>
    <% end %>
    <%= link_to gatherings_path do %>
    <input type="radio" id="option-2" name="options">
    <label for="option-2">events</label>
    <% end %>
    <%= link_to teams_path do %>
    <input type="radio" id="option-3" name="options">
    <label for="option-3">team</label>
    <% end %>
  </div>
</div>

  <div class="blog-title-container">
    <h1 class="blog-index-title">Spotlight</h1>
  </div>


  <div class="blog-item-container">
    <% @partners.each do |partner| %>
      <div class="flip-card-container">
        <div class="flip-card">

          <div class="card-front">
            <figure>
              <% if partner.photos[0] %>
                <div class="img-bg"></div>
                <%= cl_image_tag partner.photos[0].key %>
                <figcaption class="blog-card-title"><%= partner.name %></figcaption>
              <% end %>
            </figure>
            <ul class="blog-card-content">
              <% if partner.description %>
              <li><%=partner.description %></li>
               <% end %>
            </ul>
          </div>
          <div class="card-back">
            <figure>
              <% if partner.photos[0] %>
                <div class="img-bg"></div>
                <%= cl_image_tag partner.photos[0].key, :transformation=>[ {:angle=>["vflip", 180]}] %>
              <% end %>
            </figure>

            <button class="blog-read-button"><%= link_to "View", partner_path(partner) %></button>

            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="center-container-logout">
    <% if policy(@partners).new? %>
      <div class="admin-options">
        <%= link_to "Add Partner", new_partner_path %>
      </div>
    <% end %>
</div>


