<div class="back-button">
  <%= link_to partners_path do %>
  <div class="arrow-wrap">
    <span class="arrow-part-1"></span>
    <span class="arrow-part-2"></span>
    <span class="arrow-part-3"></span>
  </div>
  <% end %>
</div>

<div class="dropDown-wrapper">
  <input type="checkbox" id="dropDown-toggle">
  <label for="dropDown-toggle" class="dropDown-toggle-label">MENU</label>
  <div class="dropDown">
    <%= link_to blogs_path do %>
    <input type="radio" id="option-2" name="options">
    <label for="option-1">blogs</label>
    <% end %>
    <%= link_to gatherings_path do %>
    <input type="radio" id="option-1" name="options">
    <label for="option-2">events</label>
    <% end %>
    <%= link_to teams_path do %>
    <input type="radio" id="option-3" name="options">
    <label for="option-3">team</label>
    <% end %>
  </div>
</div>
<div class="parent-blog-show-container">
  <div class="blog-show-container">
    <% if @partner.photos[0] %>
      <div class="spotlight-img">
        <%= cl_image_tag @partner.photos[0].key, :transformation=>[
  {:width=>600, :height=>600, :gravity=>"face", :radius=>"max", :crop=>"fill"},
  ] %>
      </div>
    <% end %>
<section>
  <h2><%= @partner.name %></h2>
    <div class="social-media-container">
            <% if @partner.linkedin %>
              <div class="social-media"><a href=<%= @partner.linkedin %> target="_blank"><i class="fab fa-linkedin-in"></i></a></div>
            <% end %>
            <% if @partner.instagram %>
              <div class="social-media"><a href=<%= @partner.instagram %> target="_blank"><i class="fab fa-instagram"></i></a></div>
            <% end %>
          </div>

<!-- short description does not show -->


  <div class="row">
    <div id="left">
      <p class="partner-show-description"><%= @partner.description %></p>
    </div>
    <% if @partner.photos[1] %>
    <div id="right"><%= cl_image_tag @partner.photos[1].key %></div>
    <% end %>
    <div id="right">
      <% if @partner.link %>
        <iframe src=<%= @partner.link %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
  </div>
</div>
<div class="row2">
  <div id="left2">
  </div>
</div>
  </section>
  </div>
</div>

<!-- ----------- -->

<div class="blog-show-container">
   <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
     <!--Indicators-->
     <ol class="carousel-indicators">
      <% @partner.photos.each do |photo| %>
      <% if photo == @partner.photos[0] %>
         <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
       <% else %>
         <li data-target="#carousel-example-1z" data-slide-to="1"></li>
       <% end %>
       <% end  %>
     </ol>

     <div class="carousel-inner" role="listbox">

       <% @partner.photos.each do |photo| %>
       <% if photo == @partner.photos[0] %>
       <div class="carousel-item active">
        <% else %>
       <div class="carousel-item">
        <% end %>
        <%= cl_image_tag photo.key, crop: :fill %>
       </div>
       <% end %>
     </div>


     <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
     <!--/.Controls-->
   </div>
  </div>
</div>
 <div class="admin-options">
     <% if policy(Partner).destroy? %>
      <%= link_to "Delete Partner", partner_path(@partner), :method => :delete, data: { confirm: 'Are you sure?'} %> |
      <%= link_to "Edit Partner", edit_partner_path(@partner) %>
     <% end %>
   </div>
