
<!-- carousel for events at top, searchable?
main few/ upcoming events on carausel, past events in one list, future in another
Same cards as blog posts
-->

<!-- Find out way to get current date > blog date, compare and contrast -->
<div class="back-button">
  <%= link_to root_path do %>
    <div class="arrow-wrap">
      <span class="arrow-part-1"></span>
      <span class="arrow-part-2"></span>
      <span class="arrow-part-3"></span>
    </div>
  <% end %>
</div>

<div class="dropDown-wrapper">
  <input type="checkbox" id="dropDown-toggle">
  <label for="dropDown-toggle" class="dropDown-toggle-label">MENU</label>
  <div class="dropDown">
    <%= link_to blogs_path do %>
    <input type="radio" id="option-1" name="options">
    <label for="option-1">blogs</label>
    <% end %>
    <%= link_to partners_path do %>
    <input type="radio" id="option-2" name="options">
    <label for="option-2">partners</label>
    <% end %>
    <%= link_to teams_path do %>
    <input type="radio" id="option-3" name="options">
    <label for="option-3">team</label>
    <% end %>
  </div>
</div>

<div class="blog-title-container">
  <h1 class="blog-index-title">Events</h1>
</div>

<div class="main-blog-container">
  <% if @gatherings[0] %>
    <%= cl_image_tag @gatherings[0].photos[0].key %>
    <div class="main-blog-index-title"><%= link_to @gatherings[0].title, gathering_path(@gatherings[0]) %> </div>
  <% end %>
</div>



<div class="blog-item-container">
  <% @gatherings.each do |gathering| %>
    <div class="flip-card-container">
      <div class="flip-card">

        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
              <%= cl_image_tag gathering.photos[2].key %>
              <figcaption class="blog-card-title"><%= gathering.title %>  |  <%= gathering.date %></figcaption>
          </figure>
          <ul class="blog-card-content">
            <% if gathering.description %>
            <li><%=gathering.description %></li>
             <% end %>
          </ul>
        </div>
        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <%= cl_image_tag gathering.photos[2].key, :transformation=>[ {:angle=>["vflip", 180]}] %>
          </figure>

          <button class="blog-read-button"><%= link_to "See more", gathering_path(gathering) %></button>

          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
 <% if policy(Gathering).new? %>
    <%= link_to "New Event", new_gathering_path %>
  <% end %>

