<div>
  <p><%= @gathering.title %></p>
  <p><%= @gathering.category %></p>
  <p><%= @gathering.description %></p>
  <p><%= @gathering.date %></p>
</div>
 <%= link_to "Delete Event", gathering_path(@gathering), :method => :delete %>
<p><%= link_to "Back to all events", gatherings_path %></p>
