<div>
  <p><%= @gathering.title %></p>
  <p><%= @gathering.category %></p>
  <p><%= @gathering.description %></p>
  <p><%= @gathering.date %></p>
</div>

<p><%= link_to "Back to events", gatherings_path %></p>

<% if policy(Gathering).destroy? %>
  <%= link_to "Remove Event from Site", gathering_path(@gathering), :method => :delete, data: { confirm: 'Are you sure?'} %>
  <%= link_to "Edit Event", edit_gathering_path(@gathering) %>
<% end %>
